In [ ]:
#031:문자열 합치기

a = "3"
b = "4"
print(a + b)#34

34

In [ ]:
#032: 문자열 곱하기

print("Hi" * 3) #HiHiHi

HiHiHi

In [ ]:
#033: 문자열 곱하기
#화면에 '-' 80개 출력

print("-" * 80)

--------------------------------------------------------------------------------

In [ ]:
#034: 문자열 곱하기
#python java python java python java python java 결과 나오게하기
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 *4)

python java python java python java python java

In [ ]:
#035: 문자열 출력
#문자열과 정수가 바인딩 되었을 때 %formatting사용하여 출력

name1 ="김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#036 문자열 출력
#format () 메서드 이용
name1 ="김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#037 문자열출력
#f-string

name1 ="김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름 : {name1} 나이: {age1}")
print(f"이름 : {name2} 나이: {age2}")

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [ ]:
#038 컴마제거하기
#int 타입
상장주식수 = "5,969,782,550"
comma_del = 상장주식수.replace(",", "")
figure = int(comma_del)
print(figure, type(figure))

5969782550 <class 'int'>

In [ ]:
#039 문자열 슬라이싱

분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])

2020/03

In [ ]:
#040 strip 메서드
#문자열의 좌우 공백 시 제거

data = "   삼성전자   "
print(data.strip())

삼성전자

In [ ]:
#041 upper메서드
#대문자로 하시오

ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [ ]:
#042 lower 메서드
#소문자로 변경

tickers = "BTC_KRW"
print(tickers.lower())

btc_krw

In [ ]:
#043 capitalize 메서드

hi = "hello"
print(hi.capitalize())

Hello

In [ ]:
#044 endswith 메서드 :파일이름이 'xlsx'로 /끝나는지 확인
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

True

In [ ]:
#045 endswith 메서드: 파일이름이 'xlsx' or 'xls'로 끝나는지 확인
file_names = "보고서.xlsx"
print(file_names.endswith(("xlsx","xls")))

True

In [ ]:
#046 startswith메서드, 2020으로 시작하는지 확인
file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))

True

In [ ]:
#047 split메서드
a = "hello world"

print(a.split())

['hello', 'world']

In [ ]:
#048 split메서드
# btc와 krw로 나눠보세요.
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [ ]:
#049 split메서드
#연도,월,일로 나누기
data ="2020-05-01"
print(data.split("-"))

['2020', '05', '01']

In [ ]:
#050 rstrip메서드

data = "039490 "
print(data.rstrip())

039490